################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.ide-wal
*.lock
*.ide
*.ide-shm
