<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Autorização Provisória</title>
</head>
<body>
	A <b>autorização provisória</b> de protocolo <b>$$CD_SOLICITACAO$$</b> foi criada ou alterada no sistema e consta com o status PENDENTE.<br />
	Favor analisá-la para aprovação.<br />
    <p>
        Atenciosamente,<br /><br />
        Setor de Cadastro da E-VIDA<br />
        Tel.: 0800-607-8300<br />
    </p></body>
</html>

