<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>[E-VIDA] Autorização</title>
</head>
<body style="font-family: Arial">
	Prezado(a),<br />
    <p>Para procedermos com a análise de sua solicitação de autorização sob protocolo de nº <b>$$COD_SOLICITACAO$$</b>, 
		se faz necessário o envio de documentos adicionais, relacionados a seguir:</p>
	<p><b>Mensagem:</b>$$CONTEUDO$$.</p>
    <br />
	<p><a href="$$URL_SITE_BENEFICIARIOS$$">CLIQUE AQUI PARA ANEXAR A DOCUMENTAÇÃO ADICIONAL.</a></p>
    <p><b>Atenção: Utilize o site de autorizações para enviar/anexar a documentação requerida.</b></p>
    <br />
    <p>Atenciosamente,<br /><br />
    Setor de Autorizações da E-VIDA<br />
    Tel.: 0800-607-8300<br />
    </p>
</body>
</html>