<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reunião</title>
</head>
<body>
    <img src="http://www.e-vida.org.br/images/stories/logo.png" border="0" alt="Logo E-Vida" width="105" height="97" /><br />
	<p>Mensagem enviada pelo Portal, referente à <b>$$NM_REUNIAO$$</b> do conselho <b>$$NM_CONSELHO$$</b>, de $$DT_REUNIAO$$.</p>

	<p>
	<b>Mensagem:</b>
	$$TEXTO$$.
	</p>

</body>
</html>

