<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Formulário de Viagem</title>
</head>
<body>
    Prezado financeiro,<br /><br />

	A solicitação de <b>Viagem</b> de protocolo <b>$$CD_SOLICITACAO$$</b> já passou do estágio de <b>COMPRA DE PASSAGENS</b> e necessita agora dos <b>COMPROVANTES DE PAGAMENTO</b>.<br />	
    <br />
    Favor dar andamento ao processo.
    <br /><br />
    <p><b>Atenção: Esta é uma mensagem automática, não é necessário respondê-la.</b></p>
    <br />
</body>
</html>

