<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Solicitação de 2ª Via</title>
</head>
<body>
    Prezado(a),<br />
	Sua solicitação de 2ª via de carteira foi gerada com sucesso.<br />
	Em anexo encontra-se o formulário preenchido.<br />

    <p>
        Atenciosamente,<br /><br />
        Setor de Cadastro E-VIDA<br />
        Tel.: 0800-607-8300<br />
    </p>
</body>
</html>
