<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Autorização Provisória</title>
</head>
<body style="font-family: Arial">
	Prezado(a),<br />
    <p>Informamos que a solicitação de <b>Autorização Provisória</b> sob protocolo de nº <b>$$CD_SOLICITACAO$$</b> foi gerada no sistema.<br /></p>
	<p>Em anexo segue a autorização para impressão.</p>
	<br /><br />
	<br />
    <p><b>Atenção: Esta é uma mensagem automática, não é necessário respondê-la.</b></p>
    <br />
    <p>
        Atenciosamente,<br /><br />
        Setor de Cadastro da E-VIDA<br />
        Tel.: 0800-607-8300<br />
    </p>
<br />
</body>
</html>

