<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>[E-VIDA] Autorização de Atendimento – Convênio de Reciprocidade</title>
</head>
<body style="font-family: Arial">
	Prezado(a),<br />
    <p>Informamos que foi enviada a solicitação de autorização de atendimento via reciprocidade 
        para a <b>$$NOME_EMPRESA$$</b> conforme seu requerimento de número <b>$$COD_SOLICITACAO$$</b>.</p>
    <p>Em breve encaminharemos a autorização para atendimento e/ou instruções sobre como proceder 
        para utilização da rede.</p>
    <br />
    <p><b>Atenção: Esta é uma mensagem automática, não é necessário respondê-la.</b></p>
    <br />
    <p>Atenciosamente,<br /><br />
    Setor de Cadastro da E-VIDA<br />
    Tel.: 0800-607-8300<br />
    </p>
</body>
</html>