<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>[E-VIDA] Autorização de Atendimento – Convênio de Reciprocidade</title>
</head>
<body style="font-family: Arial">
	Prezado(a),<br />
    <p>Informamos que a empresa <b>$$NOME_EMPRESA$$</b> realizou o processamento de sua solicitação e seu atendimento já pode ser realizado naquela localidade.</p>
    <br />
    <p>A rede credenciada pode ser consultada no link: $$LINK_EMPRESA$$</p>
    <br />
    <p>$$OBSERVACAO_APROVACAO$$</p>
    <p><b>Atenção: Esta é uma mensagem automática, não é necessário respondê-la.</b></p>
    <br />
    <p>Atenciosamente,<br /><br />
    Setor de Cadastro da E-VIDA<br />
    Tel.: 0800-607-8300<br />
    </p>
</body>
</html>