<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>[E-VIDA] Autorização de Atendimento – Convênio de Reciprocidade</title>
</head>
<body style="font-family: Arial">
	Prezados(as),<br />
    <p>Segue anexo autorização para atendimento de nosso(s)(as) beneficiário(s)(as) conforme estabelecido 
        no convênio de reciprocidade.</p>
    <p>Por gentileza nos enviar resposta quando o processamento for realizado com sucesso e nosso(s)(as) 
        beneficiário(s)(as) estiverem aptos a utilizar sua rede credenciada. </p>
    <br />
    <p><b>Atenção: Esta é uma mensagem automática.</b></p>
    <br />
    <p>Atenciosamente,<br /><br />
    Setor de Cadastro da E-VIDA<br />
    Tel.: 0800-607-8300<br />
    </p>
</body>
</html>